[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==5.0.1"
djangorestframework = "==3.14.0"
python-dotenv = ">=1.0,<1.1"
psycopg2-binary = "==2.9.9"
dj-database-url = "==2.1.0"

[dev-packages]
pre-commit = "==3.6.0"

[requires]
python_version = "3.12"
